<div class="chart-row">
  <!-- First row with three equally sized iframes -->
  <iframe
    class="chart-frame"
    src="https://charts.mongodb.com/charts-khamsat-ftkkizr/embed/charts?id=0882b686-6e78-48e8-a0f9-7b56a1cda0bf&maxDataAge=3600&theme=light&autoRefresh=true"
  ></iframe>
  <iframe
    class="chart-frame"
    src="https://charts.mongodb.com/charts-khamsat-ftkkizr/embed/charts?id=22e6f14b-970f-4982-b1c3-f074a29ee251&maxDataAge=3600&theme=light&autoRefresh=true"
  ></iframe>
  <iframe
    class="chart-frame"
    src="https://charts.mongodb.com/charts-khamsat-ftkkizr/embed/charts?id=c7acb7a4-e180-4499-ab58-9bc7e7cb4e2e&maxDataAge=3600&theme=light&autoRefresh=true"
  ></iframe>
</div>

<div class="chart-row-second">
  <!-- Second row with different sizes -->
  <iframe
    class="chart-frame-large"
    src="https://charts.mongodb.com/charts-khamsat-ftkkizr/embed/charts?id=e0461156-dff7-41a5-a3fc-81bd2a6896bc&maxDataAge=3600&theme=light&autoRefresh=true"
  ></iframe>
  <iframe
    class="chart-frame-small"
    src="https://charts.mongodb.com/charts-khamsat-ftkkizr/embed/charts?id=895caebf-a938-406b-be94-7b36323f3e43&maxDataAge=3600&theme=light&autoRefresh=true"
  ></iframe>
</div>

<div class="chart-row-third">
  <!-- Third row, same layout as second row -->
  <iframe
    class="chart-frame-large"
    src="https://charts.mongodb.com/charts-khamsat-ftkkizr/embed/charts?id=d7e57e7e-7ff0-49d3-a0e0-7c99bb1643e7&maxDataAge=3600&theme=light&autoRefresh=true"
  ></iframe>
  <iframe
    class="chart-frame-small"
    src="https://charts.mongodb.com/charts-khamsat-ftkkizr/embed/charts?id=12c3c721-c111-444f-906e-9e8197a92961&maxDataAge=3600&theme=light&autoRefresh=true"
  ></iframe>
</div>
