mat-card {
  margin: 2%;
  background: white !important;
  mat-card-title{
    margin-top: 15px;
    margin-bottom: 25px;
  }
  mat-paginator{
    background-color: white !important;
  }
  mat-header-cell, mat-sort-header, th {
    text-align: center !important;
    color: white !important;
    background: white !important;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cacaca;
    border-radius: 4px;
    border: none;
    overflow: hidden;
    padding: 1rem;
    background: white !important;
    margin-bottom: 15px;
    box-shadow: none;
    text-align: center !important;       
  
    th, td {
      border-bottom: 1px solid #cacaca;
      padding: 8px 4px;
      text-align: center !important;       
    }
  
    th {
      background-color: #000 !important;
      color: white !important; 
    }
    
    .delete-button{
      color:  rgb(235, 0, 0);         
      border-radius: 20px;    
      border: none;          
      transition: background-color 0.2s ease; 
      padding: 0 !important;
      width: fit-content;
    
      &:hover {
        background-color: rgba(235, 0, 0, 0.799); 
        color: white;           
      }
    }
  
  }
}
  
.active-button {
  box-shadow: none;
  border-radius: 4px;
  background-color: rgb(222, 247, 236 ) !important;
  color: rgb(3, 84, 63 ) !important;
}

.rejected-button {
  box-shadow: none;
  border-radius: 4px;
  background-color: rgba(221, 42, 42, 0.349)  !important;
  color: #dd2a2a  !important;
}

.waiting-button {
  box-shadow: none;
  border-radius: 4px;
  background-color: rgba(251, 177, 28, 0.349)  !important;
  color: #fbb11c !important;
}

.paused-button {
  box-shadow: none;
  border-radius: 4px;
  background-color: rgba(158, 16, 171, 0.349)  !important;
  color: rgb(158, 16, 171) !important;
}

.details-button {
  background-color: transparent !important;
  box-shadow: none;
  border-radius: 4px;
  color: rgb(29 78 216) !important;
  &:hover {
    background-color: #1d4ed8 !important; 
    color: white !important;           
  }
}
