<div class="card-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>اجمالي الطلبات</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content-wrapper">
          <p class="long-text">{{longText}}</p>
          <img src="user.png" alt="note_blue" class="card-image" />
        </div>
      </mat-card-content>
      <mat-card-footer class="example-card-footer"></mat-card-footer>
    </mat-card>
  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>اجمالي الخدمات</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content-wrapper">
          <p class="long-text">{{longText}}</p>
          <img src="warning.jpg" alt="Image description" class="card-image" />
        </div>
      </mat-card-content>
      <mat-card-footer class="example-card-footer"></mat-card-footer>
    </mat-card>
  
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>اجمالي المستخدمين</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content-wrapper">
          <p class="long-text">{{longText}}</p>
          <img src="note_blue.jfif" alt="Image description" class="card-image" />
        </div>
      </mat-card-content>
      <mat-card-footer class="example-card-footer"></mat-card-footer>
    </mat-card>
  </div>
  