<mat-card>
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>

      <ng-container matColumnDef="اسم المستخدم">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> اسم المستخدم </th>
        <td mat-cell *matCellDef="let element">{{element['اسم المستخدم']}}</td>
      </ng-container>

      <ng-container matColumnDef="عنوان الخدمة">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> عنوان الخدمة </th>
        <td mat-cell *matCellDef="let element">{{element['عنوان الخدمة']}}</td>
      </ng-container>

      <ng-container matColumnDef="الحالة">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> الحالة </th>
        <td mat-cell *matCellDef="let element">{{element['الحالة']}}</td>
      </ng-container>

      <ng-container matColumnDef="القرار">
        <th mat-header-cell *matHeaderCellDef> القرار </th>
        <td mat-cell *matCellDef="let element">
          <button mat-raised-button class="green-button">قبول</button>
          <button mat-raised-button class="red-button">رفض</button>
        </td>
      </ng-container>
      

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
     <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngStyle]="{'background-color': row.hovered ? '#7E909A' : ''}" (mouseenter)="row.hovered = true" (mouseleave)="row.hovered = false"></tr>

    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  </mat-card-content>
</mat-card>
