<mat-card>
    <mat-card-header>
        <mat-card-title>Users</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="username">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Username </th>
                <td mat-cell *matCellDef="let element">{{element.username}}</td>
            </ng-container>

            <ng-container matColumnDef="accountType">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Account Type </th>
                <td mat-cell *matCellDef="let element">{{element.account_type}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element">{{element.email}}</td>
            </ng-container>

            <ng-container matColumnDef="emailVerification">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email Verification </th>
                <td mat-cell *matCellDef="let element">
                    <button
                     mat-raised-button 
                     [ngClass]="{
                        'verified-button': element.isEmailVerified,
                        'notVerified-button': !element.isEmailVerified
                    }" (click)="onStatusChange(element._id, element.isEmailVerified)">
                        {{ element.isEmailVerified ? 'Verified' : 'Not Verified' }}
                    </button>
                </td>
            </ng-container>
                        

            <ng-container matColumnDef="profilePicture">
                <th mat-sort-header mat-header-cell *matHeaderCellDef> Profile Picture </th>
                <td mat-cell *matCellDef="let element">
                    <img src="{{element.profilePicture}}" class="rounded-full" alt="Profile" width="50">
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>