mat-card {
  margin: 2%;
  background: white !important;

  mat-card-title {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  mat-paginator {
    background-color: white !important;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #cacaca;
    border-radius: 4px;
    border: none;
    overflow: hidden;
    padding: 1rem;
    background: white !important;
    margin-bottom: 15px;
    box-shadow: none;
    text-align: center !important;

    th,
    td {
      border-bottom: 1px solid #cacaca;
      padding: 8px 4px;
      text-align: center !important;
    }

    th {
      background-color: #000 !important;
      color: white !important;
    }
  }
}

button {
  margin: 2px;
}


  
.verified-button {
  box-shadow: none;
  border-radius: 4px;
  background-color: transparent !important;
  color: rgb(3, 84, 63 ) !important;
  &:hover{
    background:rgba(3, 84, 62, 0.372)  ; 
  }
}

.verified-button::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(3, 84, 63 ) !important;
  margin-right: 10px;
}

.notVerified-button {
  box-shadow: none;
  border-radius: 4px;
  background-color: transparent !important;
  color: #dd2a2a  !important;
  &:hover{
    background:rgba(221, 42, 42, 0.342)  ; 
  }
}

.notVerified-button::before{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #dd2a2a !important;
  margin-right: 10px;
}

#upgrades {
  padding-left: 85px;
}